body {
  background-color: beige;
  color: maroon;
}

/* RGB値を16進数で指定 */
.red-text {
  color: #ff0000;  /* 赤色 */
}
/* RGB値を10進数で指定 */
.blue-background {
  background-color: rgb(0, 0, 255);  /* 青色 */
}
/* HSL値で指定 */
.green-border {
  border: 2px solid hsl(120, 100%, 25%);  /* 濃い緑色 */
}
/* 透明度を含むRGBA値で指定 */
.semi-transparent-yellow {
  background-color: rgba(255, 255, 0, 0.5);  /* 半透明の黄色 */
}

table {
  border-collapse: collapse;
  border: solid 1px maroon;
  /* ↓↓　以下一行追加（第8回）　↓↓ */
  background-color: white;

}
tr {
  border-top: solid 1px maroon;
}
th, td {
  border-left: solid 1px maroon;
}

body {
  #detail {
    display: none;
  }
  
  body.-showdetail {
    #master {
      display: none;
    }
    #detail {
      display: block;
    }
  }
}

th {
  cursor: pointer;
  position: relative;
  padding-right: 1.2em;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% - 0.5em);
    right: 0.1em;
    width: 1em;
    height: 1em;
  }
  &[data-sort-order="asc"]::after {
    content: "▲";
  }
  &[data-sort-order="desc"]::after {
    content: "▼";
  }
}

.stats {
  border: solid 1px maroon;
  background-color: white;
  height: 250px;
  > .graph {
    height: 230px;
    position: relative;
    > .bar {
      position: absolute;
      bottom: 60px;
      width: 10px;
      background-color: maroon;

      /* 追加以下二行 */
      &.-selected {
        background-color: red;
      }
      > .label {
        position: absolute;
        left: 16px;
        bottom: -20px;
        transform-origin: 0 0;
        rotate: 45deg;
        text-align: left;
        white-space: nowrap;
      }
    }
  }
  > .selector {
    border-top: solid 1px maroon;
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
    list-style: none;
    display: flex;
    > li {
      text-align: center;
      cursor: pointer;
      flex-grow: 1;
      + li {
        border-left: solid 1px maroon;
      }
      &:hover, &.-selected {
        background-color: maroon;
        color: white;
      }
    }
  }
}

/* 追加 */
/* media queries */
@media (max-width: 600px) {
  /* body {
    font-size: 0.8em;
  }
  table {
    font-size: 0.8em;
  }
  .stats {
    font-size: 0.8em;
  } */
}